<% include shared/header %>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item white-text panel-image-one" href="#one!">
      <div class="panel-content">
        <h2>Oakland, California</h2>
        <p class="white-text">"Let's be Oaklandish"</p>
        <div class="row"></div>
        <a href='/city/1' class="btn waves-effect white grey-text darken-text-2">Visit City</a>
      </div>
      <div class="panel-back"></div>
    </div>
    <div class="carousel-item white-text panel-image-two" href="#two!">
      <div class="panel-content">
        <h2>Washington, DC</h2>
        <p class="white-text">"The nation's capital"</p>
        <div class="row"></div>
        <a href='/city/1' class="btn waves-effect white grey-text darken-text-2">Visit City</a>
      </div>
      <div class="panel-back"></div>
    </div>
    <div class="carousel-item white-text panel-image-three" href="#three!">
      <div class="panel-content">
        <h2>Manila, Philippines</h2>
        <p class="white-text">"It's more fun in the Philippines"</p>
        <div class="row"></div>
        <a href='/city/1' class="btn waves-effect white grey-text darken-text-2">Visit City</a>
      </div>
      <div class="panel-back"></div>
    </div>
  </div>

  <% include shared/footer %>
