<% include shared/header %>
<div>
    <form method="POST" action="/login">
        <div class='row'></div>
        <div class='row'></div>
        <div class='row'>
            <div class='col s12'><h2>Login</h2></div>
        </div>
        <div class='row'>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
        </div>
        <div class='row'>
            <div class='col s2 offset-s3 right-align'>Email:</div>
            <div class='col s4'><input name='email' type='email' value="e@e.com"></input>
            </div>
        </div>
        <div class='row'>
            <div class='col s2 offset-s3 right-align'>Password:</div>
            <div class='col s4'><input name='password' type='password' value="1234"></input>
            </div>
        </div>
        <div class='row'>
            <div class='col s2 offset-s3'></div>
            <div class='col s4'><input type="submit" class='btn' value="LOGIN">
            </div>
        </div>
    </form>
</div>

<% include shared/footer %>
