<% include shared/header %>
  <div class='row'></div>
  <div class='row'></div>
  <div class='row'></div>
  <div class='row'></div>
  <h2>Welcome to a Profile page</h2>

  <% include shared/footer %>
